.footer {
    max-height: 383px;
    background: var(--white);
    padding: 71px 0 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: var(--grey-2) solid 1px;
}
.footer__about {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--black);
}
.footer__text {
    font-family: Inter;
    max-width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
}